
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./pets";
$background : #FFFFFF;
$foreground : #000000;


* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-light{
  transition: 0.3s ease-in;
}
.w-75{
  transition: 0.3s ease-in;
}
.navbar{
    transition: 0.3s ease-out;
}

ul{
    .nav-link{
        font-weight: 600;
    }
    
}

div#section-1{
    background-image: url("/pictures/bg1.png");
    background-size: cover;
    height: 100vh;

    h1{
        font-weight: 500;
    }

    i{
        color: $background;
    }
}

#dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $background;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
  }
  
.dropdown-content a:hover { 
    color:white;
    font-weight: 500;
     background-color: #949494}

 #dropdown:hover .dropdown-content {
    display: block;
  }


  footer{
    color: white;
    background-color: #213050;
  }
  

 
  